h1 {
    color:  white(255, 255, 255);
    text-align: center;
}

p {
    text-align: center;
}
body {
    background-color: #1c1c1c; /* Dark background color */
    background-image: url("https://cdn2.tfx.company/images/clickwallpapers-planet-earth-3840x2160-in-4K-img8.jpg"); /* Replace with your QSMP background image */
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    color: #edf7d6ce; /* Text color for better visibility */
  }
  h2 {
    color: rgb(255, 255, 255);
  }
  
p {
    color: rgb(255, 255, 255);
}

title {
    color: rgb(255, 255, 255);
}
li {
    color: rgb(255, 255, 255);
}
h3 {
    color: rgb(255, 255, 255);
}
h2 {
    text-align: center;
}
li {
    text-align: center;
}
img {
    text-align: center;
    background-position: center center;
}
ul {
    text-align: center;
}
.Richas {
 width: 35%;
 text-align: center;
}
.centru {
    width: 35%;
    text-align: center;
   }
